/* IMPORT ALL CSS FILES HERE */
@import url('../views/signin/SignIn.css');
@import url('../views/createUser/CreateUser.css');
@import url('../components/Header/Header.css');
@import url('../views/surveysList/SurveysList.css');
@import url('../views/createSurvey/CreateSurvey.css');

@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:wght@500;700;800&family=Sacramento&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --darkBlack: #131212;
    --lightBlack: #202020;
    --white: #ffff;
    --lightGreen: #bd9249;
    --fadedGrey: #5c5a5aaf;
    --blue: blue;
}

body {
    font-family: "Poppins", sans-serif;
}

.error__msg {
    margin-bottom: 10px;
    color: orangered;
    text-align: center;
    text-transform: uppercase;
}