/* IMPORT ALL CSS FILES HERE */
@import url('../views/signin/SignIn.css');
@import url('../views/createUser/CreateUser.css');
@import url('../components/Header/Header.css');
@import url('../views/surveysList/SurveysList.css');
@import url('../views/createSurvey/CreateSurvey.css');
@import url('../views/viewSurvey/ViewSurvey.css');

@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:wght@500;700;800&family=Sacramento&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --darkBlack: #131212;
    --lightBlack: #202020;
    --white: #ffff;
    --lightGreen: #bd9249;
    --fadedGrey: #5c5a5aaf;
    --blue: blue;
}

body {
    font-family: "Poppins", sans-serif;
}

.error__msg {
    margin-bottom: 10px;
    color: orangered;
    text-align: center;
    text-transform: uppercase;
}

/* MODAL */
.overlay {
    height: 100vh;
    width: 100%;
    background: rgba(122, 117, 117, 0.158);
    position: absolute;
    inset: 0;
    z-index: 1000;
    backdrop-filter: blur(2px);
    display: grid;
    place-items: center;
}


.modal {
    width: 50%;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #d3d3d3;
    background: var(--lightBlack);
    padding: 20px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    text-align: center;
}
.modal .v-input {
    margin-left: 0 !important;
}

.modal .v-input__details {
    display: inline-block !important;
}

.dialog__close--icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 25px;
}

.dialog__input {
    margin-left: auto !important;
    width: auto !important;
}

.share__btn {
    margin-top: 60px;
}